<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>Login</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/secure.css'}" />
    </head>
    <body id="crud">
    	<div id="crudHeader">
			<a href="/SASWeb/application/main"><img src="@{'/public/images/logo.gif'}" alt="Logo"></a>
			<center><h2  class="red"><a href="/SASWeb"></a>&{'crud.maintitle'}</h2></center>
		</div>
        #{doLayout /}

        <div id="crudFooter">
			Compañia Anónima Nacional Teléfonos de Venezuela. RIF: J-00124134-5.- Todos los derechos reservados
		</div>

    </body>
</html>
