#{extends 'Seguridad/layout.html' /}

<div id="crudList" class="${type.name}">
	
	<h2 id="crudListTitle">&{'crud.list.title', type.name}</h2>
	<div id="crudListSearch">
		#{crud.search /}
	</div>

	<div id="crudListTable">
		#{crud.table  fields:['nombre', 'activo', 'usuario', 'rol', 'departamento', 'cargo', 'supervisor', 'email'], ignore:['rol', 'otro']}
		  #{crud.custom 'activo'}
		    ${object.activo? 'Activo': 'Inactivo'}
          #{/crud.custom}
        #{/crud.table}
        
	</div>
	
	<div id="crudListPagination">
		#{crud.pagination /}
	</div>
</div>
