#{extends 'CRUD/layout.html' /}

<div id="crudIndex">

	<h2>Opciones</h2>

	<table>
		<thead>
			<tr>
				<th>&{'crud.index.elements'}</th>
				<th width="20%">&{'crud.index.action'}</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<a href="/SASWeb/cargaInicial">Carga Inicial</a>
				</td>
				<td class="crudNew">

				</td>
			</tr>
			<tr>
				<td>
					<a href="/SASWeb/encuestas/list">Cuestionario</a>
				</td>
				<td class="crudNew">

				</td>
			</tr>
			<tr>
				<td>
					<a href="/SASWeb/encuestaforms/list">Preguntas</a>
				</td>
				<td class="crudNew">

				</td>
			</tr>
			<tr>
				<td>
					<a href="/SASWeb/permisoencuestas/list">Asignar Cuestionario</a>
				</td>
				<td class="crudNew">
				</td>
			</tr>
			<!--<tr>
				<td>
					<a href="/SASWeb/masivo/masivo">Asignacion Masiva de Cuestionarios</a>
				</td>
				<td class="crudNew">
				</td>
			</tr>-->
			<tr>
				<td>
					<a href="/SASWeb/configuraciones/list">Configuración</a>
				</td>
				<td class="crudNew">

				</td>
			</tr>
		</tbody>
	</table>
</div>
</div>