 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="${lang}" lang="${lang}">
    <head>

        <title>Aviso de SASWeb</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.ico'}">
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/crud.css'}" />
    </head>
	<body id="crud">


		<div id="crudHeader">
			<IMG  SRC="@{'/public/images/logo.gif'}" ALT="Logo" >
			<h2>Aviso</h2>

		</div>

		<div id="crudContent">

   	<h2>Modulo Deshabilitado</h2>
	<p>
		El modulo al que intenta acceder est&aacute; desactivado por el administrador.
	</p>
     <a href="/SASWeb/secure/login" id=":r7" >Volver a la pagina de entrada</a>



		</div>

		<div id="crudFooter">
			Compañia Anónima Nacional Teléfonos de Venezuela. RIF: J-00124134-5.- Todos los derechos reservados
		</div>

	</body>
</html>
