#{extends 'Encuestado/encuestado_layout.html' /}

<div id="crudShow" class="">  
<h2>Resumen</h2>
  
<div class="objectForm">

  <h5 id="crudShowTitle">Centro de Responsabilidad: ${perm.ceco} - ${perm.getCECONombre()}</h5>
  <h5 id="crudShowTitle">Periodo: ${perm.periodo}</h5> 

#{form action:@Application.enviarFuncional(perm?.id), id:'encuestaForm', enctype:'multipart/form-data'}
	  
<div id="crudListTable1"> 
	
	<!--#{list items:encuestas, as:'encuesta'}-->
	 <br><br>
	 <div id="canvas-holder">
		<!--<h3 style="margin-left: 35%;">${encuesta.nombre}</h3>-->
		<br>
		<canvas id="chart-area" width="800" height="600" style="margin-left: 20%;"/>
	 </div>	
	 
	 <script>
	  $(function(){

    
		var pieData = [];
		#{list items:list, as:'item'}
		 //var randomColor = "#"+Math.floor(Math.random()*16777215).toString(16);		 
		 var randomColor = "#"+(Math.random()*0xFFFFFF<<0).toString(16);
		 //var randomHighlight = "#"+Math.floor(Math.random()*16777215).toStri6);
		 var randomHighlight = "#"+(Math.random()*0xFFFFFF<<0).toString(16);
		 var actividad = "${item.Nombre_Actividad}";

		 //#{list items:item.DQF, as:'listDQF'}
	    
		  val = ${item.DQF}+"";
		  //console.log(valor.length);
		  /*console.log("Valor de val "+val);
		  var valor = Array.prototype.slice.call(val);
		  valor.join('');*/

		  var valor = (val.toString()).split(',').join('');
		  console.log("Valor actuaaaaaaaaaaaaaaaaaaal "+valor);
		  /*$.each(valor, function(index, value) {
  			console.log(index + ': ' + value);

  			if ((value == "") || (value == null) || (value == undefined)){
  				valor = jQuery.grep(valor, function(value) {
  					
  					return (value != "" && value != null && n != undefined);
				});
  			}
		  });*/
		 //#{/list}

		 //valor = 25;
		 console.log("Antes "+valor);
		 valor = parseInt(valor);
		 console.log("Despues "+valor);
		 var data =
				{
					value: valor,
					color:randomColor,
					highlight: randomHighlight,
					label: actividad
				}
		 pieData.push(data);
		 console.log("Valor "+valor);
		 console.log("Color "+randomColor);
		 console.log("randomHighlight "+randomHighlight);
		 console.log("Actividad "+actividad);
		#{/list}


			window.onload = function(){
				var ctx = document.getElementById("chart-area").getContext("2d");
				window.myPie = new Chart(ctx).Pie(pieData);
			};


	  });	
	 </script>
	<!--#{/list}-->

<!--<table> 
<thead> 
  <tr>
   	<th>			
		Actividades			 
	</th>
	
	  #{list items:encuestas, as:'encuesta'}
		<th>			
		${encuesta.unidadMedida}			 
		</th>
	  #{/list}
		
	</tr> 
</thead>
  #{list items:list, as:'item'} 
	<tr class=""> 
		<td>			
		 ${item.Nombre_Actividad}			 
		</td>
		#{list items:item.DQF, as:'listDQF'}
		      	<td>
		       	  ${listDQF}
		       	</td>
	    #{/list}
	</tr>	
  #{/list}
  
   <tr class=""> 
		<td>
		<b> Total</b>			
		</td>
	
	#{list items:suma, as:'sum'}
		 	<td>	<b> ${sum} </b>	</td>
	 #{/list}
	
	</tr>	
	</table>-->

   <p class="crudButtons">
	   <input type="submit" value="Enviar a Funcional" class="navigation_button">
   </p>
   
</div>
#{/form}
</div>
</div>
	