#{extends 'Application/funcional_layout.html' /}

<h2 id="crudShowTitle">Estadisticos</h2>

<form action="">
 <div id="crudListTable1">
	<table>
	 <thead>
		<tr>
		 <th width="25%">
		 	&nbsp;	
		 </th>
		 <th width="25%">
		 	&nbsp;	
		 </th>
		 <th width="25%">
		 	&nbsp;	
		 </th>
		 <th width="25%">
			&nbsp;
		 </th>
	 </thead>
	 <tbody>
	  <tr>
		<td>
			Proceso
    	</td>
	    <td>
    	 <select name="" id="">
    	 	<option value="0">Seleccione----</option>
    		<option value="1">Uno</option>
    		<option value="2">Dos</option>
    		<option value="3">Tres</option>
    	 </select>
    	</td>
	  </tr>
	  <tr>
		<td>
			Cliente
    	</td>
	    <td>
    	 <select name="" id="">
    	 	<option value="0">Seleccione----</option>
    		<option value="1">Uno</option>
    		<option value="2">Dos</option>
    		<option value="3">Tres</option>
    	 </select>
    	</td>
	  </tr>
	  <tr>
		<td>
			Servicio
    	</td>
	    <td>
    	 <select name="" id="">
    	 	<option value="0">Seleccione----</option>
    		<option value="1">Uno</option>
    		<option value="2">Dos</option>
    		<option value="3">Tres</option>
    	 </select>
    	</td>
	  </tr>
	  <tr>
		<td>
			Conductor
    	</td>
	    <td>
    	 <select name="" id="">
    	 	<option value="0">Seleccione----</option>
    		<option value="1">Uno</option>
    		<option value="2">Dos</option>
    		<option value="3">Tres</option>
    	 </select>
    	</td>
	  </tr>
	 </tbody>
	</table>
 </div>
 <p class="crudButtons">
	<input class="navigation_button" value="Limpiar" type="reset">
	<input class="navigation_button" value="Enviar" type="submit">
 </p>
</form>
<br />

</div>